<div class="container1">
    <div class="container2">
        <div class="categoriesSection">
            <div class="catSection">
                <div class="title">
                    <h4>Products</h4>
                </div>
                <div class="catList">
                    <div *ngFor="let cat of allCategories">
                        <input type="checkbox" id="catName" name={{cat}} value={{cat}} (click)="showCategory($event)">
                        <label for={{cat}}>{{cat}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="productsSection">
            <div class="displayProducts">
                <div class="card" *ngFor="let prod of displayProducts | paginate
                    : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                    };
                    let i = index">
                    <small class="card-percent percent">- {{prod.discountPercentage | percent}}</small>
                    <img class="card-img-top" [src]="prod.thumbnail" alt="Card image">
                    <div class="card-body">
                        <h3 class="card-text title">{{prod.title}}</h3>
                        <p class="card-text desc">{{prod.description}}</p>
                        <div class="cost">
                            <p class="card-price price">{{prod.price}}</p>
                            <label>USD</label>
                        </div>
                        <div class="info">
                            <div class="productBrand">
                                <label>Brand:</label>
                                <p class="card-brand brand">{{prod.brand}}</p>
                            </div>
                            <div class="productCategory">
                                <label>Category: </label>
                                <p class="card-category category">{{prod.category}}</p>
                            </div>
                            <div class="productQuantity">
                                <label>in Stock:</label>
                                <p class="card-stock inStock">{{prod.stock}}</p>
                            </div>
                        </div>
                        <div class="rating">
                            <p class="card-rate rate"><i class="fa-solid fa-star"></i>{{prod.rating}}</p>
                        </div>
                        <button type="button" class="addBtn">ADD TO CART</button>
                    </div>
                </div>
            </div>
            <div style="background-color: rgb(255, 255, 255); padding: 10px 0px; display: flex; justify-content: center;">
                    <pagination-controls 
                        previousLabel="Prev" 
                        nextLabel="Next"
                        (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
            </div>
        </div>
    </div>
</div>