<div class="container1">
    <div class="container2">
        <div class="categoriesSection">
            <div class="catSection">
                <div class="title">
                    <h4>Products</h4>
                </div>
                <div class="catList">
                    <div>
                        <input type="checkbox" id="catName" name="Smartphones">
                        <label for="Smartphones">Laptops</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="productsSection">
            products
        </div>
    </div>
</div>